<div class="wrap">
    <div class="genre-items">
        <div class="genre-item" [routerLink]="['/rock']">
            <h5 class="genre-name">Rock</h5>
            <h5 class="genre-name-op">Rock</h5>
        </div>
        <div class="genre-item" [routerLink]="['/electro']">
            <h5 class="genre-name">Electro</h5>
            <h5 class="genre-name-op">Electro</h5>
        </div>
        <div class="genre-item" [routerLink]="['/hip-hop']">
            <h5 class="genre-name">Hip-hop</h5>
            <h5 class="genre-name-op">Hip-hop</h5>
        </div>
        <div class="genre-item" [routerLink]="['/pop']">
            <h5 class="genre-name">Pop</h5>
            <h5 class="genre-name-op">Pop</h5>
        </div>
        <div class="genre-item" [routerLink]="['/rb']">
            <h5 class="genre-name">R&B</h5>
            <h5 class="genre-name-op">R&B</h5>
        </div>
        <div class="genre-item" [routerLink]="['/indie']">
            <h5 class="genre-name">Indie</h5>
            <h5 class="genre-name-op">Indie</h5>
        </div>
    </div>
</div>