@import "./scss/base/base";
@import "./scss/base/normalize";

body {
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none; 
}

.wrap-p {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 380px;
    justify-content: center;
    overflow: hidden;
}

.wrap {
    background-color: #1a1919;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
